<h1 class="title">Prueba tecnica</h1>
<div>
  <!-- <div>
    <img src="../assets/moneda.webp" class="imaa" />
  </div> -->
  <div class="formu">
    <div class="text">
      <img src="../assets/asistant.png" class="asis" />
      <p class="ti-main">
        cambia tus <span>{{ moneda1 }}</span> a <span>{{ moneda2 }}</span> al
        instante.
      </p>
    </div>
    <div>
      <div class="input-uno">
        <span class="arri">Tienes</span>
        <mat-form-field
          class="input-child dd"
          appearance="outline"
          style="width: 40%; margin-top: 11px; margin-right: 8px"
        >
          <input
            matInput
            [(ngModel)]="monto"
            style="color: #80848e"
            (ngModelChange)="convert()"
          />
        </mat-form-field>

        <mat-form-field
          class="input-child dd"
          appearance="outline"
          color="accent"
          style="width: 50%; margin-top: 11px"
        >
          <mat-select
            [(ngModel)]="moneda1"
            placeholder="Seleccionar Moneda"
            (selectionChange)="convert()"
          >
            <mat-option [value]="item.code" *ngFor="let item of monedas_list"
              >{{ item.code }} - {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="cambio">
      <img src="../assets/iconchange.webp" (click)="change()" />
    </div>
    <div>
      <div class="input-uno">
        <span class="arri">Recibes</span>
        <mat-form-field
          class="input-child dd"
          appearance="outline"
          style="width: 40%; margin-top: 11px; margin-right: 8px"
        >
          <input matInput [(ngModel)]="most3" readonly style="color: #80848e" />
        </mat-form-field>

        <mat-form-field
          class="input-child dd"
          appearance="outline"
          color="accent"
          style="width: 50%; margin-top: 11px"
        >
          <mat-select
            [(ngModel)]="moneda2"
            placeholder="Seleccionar Moneda"
            (selectionChange)="convert()"
          >
            <mat-option [value]="item.code" *ngFor="let item of monedas_list"
              >{{ item.code }} - {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
